:root{
    --corNav: #49447a;
    --corPrincipal: #545384;
    --corSombra: #13133c5e;
}

*{
    margin: 0;
    padding: 0;

    font-family: monospace;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;              
  }
  
::-webkit-scrollbar-track {
background: var(--corNav);   
}

::-webkit-scrollbar-thumb {
background-color: var(--corPrincipal);    
border-radius: 40px;       
border: 1px solid white;  
}

html, body{

    height: 100%;
    width: 100%;

    overflow-y: auto; 
    box-sizing: border-box;
    overflow-x: hidden;

}

header, footer{
    z-index: 2;
    height: 10%;
    position: relative;
}

main{
    z-index: 1;
    height: 80%;
}

div{
    display: flex;
    flex-direction: row;
}

nav {
    background-color: var(--corNav);
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 10px 5px var(--corSombra);
    font-size: 1.4vw;
}

.olNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    list-style: none;
    font-weight: bold;

    width: 70%;
    height: 100%;

    transition: 500ms ease-in-out;
}

.imgLogo{
    width: 15%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo img{
    max-width: 100%; 
    max-height: 100%;
}

.divImgRedes{
    width: 15%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 1.4em;
    
}

.sectionPrincipal{
    background-image: url("imgs/background.jpg");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;

    padding: 30px;
}

.divTituloNoticias{
    background-color: var(--corNav);
    box-shadow: 1px 1px 10px 5px var(--corSombra);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 50%;
    height: 80%;
}

.divTituloEventos{
    background-color: var(--corNav);
    box-shadow: 1px 1px 10px 5px var(--corSombra);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 25%;
    height: 80%;
}

.titulo{
    font-size: 2vw;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.construcao{
    color: black;
    font-size: 2.5vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divCard{
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    width: 100%;
    height: 85%;
}

.divCard a{
    width: 95%;
    height: 30%;
    display: block;
    text-align: center;
}

.imgNoticias{
    width: 90%;
    height: auto;
    margin: 10px;
    object-fit: cover;
}

.divSobre{
    background-color: var(--corNav);
    box-shadow: 1px 1px 10px 5px var(--corSombra);
    border-radius: 10px;
    display: inline-block;
    width: 35%;
    height: 80%;
    justify-content: justify;
    overflow-y: auto;
    padding: 40px;
}

p {
    padding: 20px;
    margin-bottom: 25px;
    font-size: 22px;
    text-align: justify;
}

h1 {
    font-size: 35px;
    text-align: center;
    
}
    
h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

  .divFaq {
        background-color: var(--corNav);
        box-shadow: 1px 1px 10px 5px var(--corSombra);
        border-radius: 10px;
        display: inline-block;
        padding-top: 30px;
        width: 35%;
        height: 80%;
        justify-content: justify;
        overflow-y: auto;
        padding: 40px;
    }

    .p1 {
        padding: 20px;
        font-size: 22px;
        text-align: justify;
    }

.sectionAdocao{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    width: 100%;
    height: 70%;

    padding-top: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rowAdotar{
    height: 30%;
    padding: 0;
}

.column{
    width: 30%;
    height: 100%;
 
    align-items: center;

    box-shadow: 1px ;

    border-radius: 40px;
}

.columnAdotar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.column-text{
    background-color: var(--corNav);
    align-items: center;
    height: 50%;
    width: 45%;
    border-radius: 40px;

}

.shadow{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.column-text p{
    padding-bottom: 0;
}

.divAnimais{
    background-color: #a29aed;
    background-image: url("imgs/background.jpg");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 20%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px var(--corSombra);
}

    .divAnimais p{
        text-align: justify;  
        font-size: 1.2vw;  
    }

    .divAnimais img{
        border-radius: 10px;
    }

    .animais{
        height: 50%;
        width: 100%;
    }   

.olNav a:hover{
    text-decoration: none;   
}

.olNavSelected{
    text-decoration: none;
}

.containerTratos {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  padding: 30px;
}

.maus-tratos {
  flex: 1;
  padding: 15px;
  background-color: #49447a;
  border-radius: 8px;
  font-size: 40px;
}

.como-denunciar {
  flex: 1;
  padding: 15px;
  background-color: #49447a;
  border-radius: 8px;
  font-size: 30px;
}

.maus-tratos, .como-denunciar{
    box-shadow: 1px 1px 10px 5px var(--corSombra);   
}


/* ----- RESPONSIVIDADE ------ */

@media (max-width: 320px) {
  
}

@media (max-width: 480px) {

}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }

    .divTituloEventos{
        width: 75%;
        height: 20%;
    }

    .divTituloEventos .titulo{
        height: 50%;
    }

    .divTituloNoticias{
        height: 55%;
        width: 75%;
    }

    .divTituloNoticias .divCard{
        overflow-y: auto;
        gap: 3vh;
        height: 100%;
    }

    .containerAnimais{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: auto;
    }

    .divAnimais{
        width: 70%;
        height: 80%;

        margin: 5vw;
    }

    .divAnimais p{
        font-size: 3vw;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container{
        flex-direction: column;
    }

    .containerAnimais{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: auto;
    }

    .divAnimais{
        width: 40%;
        margin: 40px;
    }

    .divTituloEventos{
        width: 75%;
        height: 20%;
    }

    .divTituloEventos .titulo{
        height: 50%;
    }

    .divTituloNoticias{
        height: 55%;
        width: 75%;
    }

    .divTituloNoticias .divCard{
        overflow-y: auto;
        gap: 3vh;
        height: 100%;
    }
}

@media (max-width: 1280px) {
    main{
        height: 80%;
        overflow-y: auto;
    }

    .sectionAdocao{
        height: auto;
    }

    .row{
        gap: 5vw;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .column{
        width: 80%;
    }

    .columnAdotar{
        flex-direction: column;
        margin: 50px;
        gap: 4vh;
    }

    .column-text{
        
        width: 80%;
    }

    .divSobre, .divFaq{
        width: 70%;
    }

    .sectionPrincipal{
        display: flex;
        justify-content: center;
        height: auto;
    }

    .containerTratos{
        flex-direction: column;
        width: 80%;
    }
}

@media (max-height: 800px) {
    .divCard a{
        height: 25%;
    }

    .divAnimais p{
        font-size: 1vw;  
    }
}