:root{
    --corNav: #a29aed;
    --corPrincipal: #545384;
    --corSombra: #13133c5e;
}

*{

    margin: 0;
    padding: 0;

    font-family: monospace;
    color: white;

}

html, body{

    height: 100%;
    width: 100%;

    overflow-y: auto; 

}

header{
    z-index: 2;
    height: 10%;
    position: relative;
}

main{
    z-index: 1;
    height: 90%;
}

div{
    display: flex;
    flex-direction: row;
}

nav{

    background-color: var(--corNav);

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 100%;
    width: 100%;

    box-shadow: 1px 1px 10px 5px var(--corSombra);

    font-size: 1.3em;
}

.olNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    list-style: none;
    font-weight: bold;

    width: 70%;
    height: 100%;
}

.imgLogo{
    width: 15%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo img{
    max-width: 100%; 
    max-height: 100%;
}

.divImgRedes{
    width: 15%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 1.4em;
    
}

.sectionPrincipal{
    background-image: url('imgs/background.jpg');
    background-size: 100% 100%; /* Ajusta a imagem para preencher 100% de largura e 100% de altura */
    background-repeat: no-repeat;  /* Garante que a imagem não se repita */
    background-position: center center;  /* Centraliza a imagem */
    background-attachment: fixed;

    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
}

.divTituloNoticias{
    background-color: var(--corNav);
    box-shadow: 1px 1px 10px 5px var(--corSombra);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 50%;
    height: 80%;
}

.divTituloEventos{
    background-color: var(--corNav);
    box-shadow: 1px 1px 10px 5px var(--corSombra);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 25%;
    height: 80%;
}

.titulo{
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;
}

.construcao{
    color: black;
    font-size: 50px;
    text-align: center;
    align-self: center;
    padding-top: 35%;
}

.divCard{
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    width: 100%;
    height: 85%;
}

.divCard a{
    width: 100%;
    display: block;
    text-align: center;
}

.imgNoticias{
    width: 90%;
    height: auto;
    margin: 10px;
    display: block;
}

.divSobre{
    background-color: var(--corNav);
    box-shadow: 1px 1px 10px 5px var(--corSombra);
    border-radius: 10px;
    display: inline-block;
    width: 80%;
    height: 80%;
}

p {
    padding: 20px;
    margin-bottom: 25px;
    font-size: 22px;
    text-align: center;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
    
h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

  .divFaq {
        background-color: var(--corNav);
        box-shadow: 1px 1px 10px 5px var(--corSombra);
        border-radius: 10px;
        display: inline-block;
        width: 80%;
        height: 90%;
    }

    .p1 {
        padding: 20px;
        font-size: 17px;
        text-align: center;
    }

    .container1 {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding-top: 50px;
        }
    .img-container {
        width: 80%;
        text-align: center;
        }
    .img-container img {
        width: 82%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
       
        }

    .container-texto1 {
    background-color: #9492e7; 
    border-radius: 10px;
    width: 20%;
    font-size: 18px;
    text-align: auto;
    position: absolute;
    bottom: 20px;
    left: 20%;
    transform: translate(-50%);
    }

    .container-texto2 {
    background-color: #9492e7; 
    border-radius: 10px;
    width: 20%;
    font-size: 18px;
    text-align: auto;
    position: absolute;
    bottom: 20px;
    right: 20%;
    transform: translate(50%);
    }